@import "theme-picker.css";
@import "font.css";
body {
   /* dimensions */
   --knot-text-size: 14px;
   --knot-vertical-padding: 8px;
   --knot-width: 200px;
   --knot-radius-right: 14px;
   --knot-radius-left: 6px;
   --tree-indentation: 18px;
}
body {
   /* colors (dark theme) */
   --app-bg-color: rgb(36, 36, 36);
   --app-text-color: hsla(0, 0%, 100%, 0.9);
   --app-border-color: black;
   --app-caret-color: black;
   --app-selection-color: rgba(255, 255, 255, 0.3);
   --app-surface-color: hsla(0, 0%, 0%, 0.26);
   --knot-bg-color: rgb(73, 73, 73);
   --knot-dragger-color: hsla(0, 0%, 100%, 0.21);
   /* --gradient: linear-gradient(to right, hsl(0, 0%, 22%), hsl(0, 0%, 12%)); */
}
body.light {
   /* colors (light theme) */
   --app-bg-color: rgb(240, 240, 240);
   --knot-bg-color: rgb(248, 248, 248);
   --knot-dragger-color: rgba(0, 0, 0, 0.18);
   --app-border-color: rgba(57, 57, 57, 0.4);
   --app-text-color: hsla(0, 0%, 0%, 0.86);
   --app-caret-color: rgb(178, 188, 202);
   --app-surface-color: hsla(0, 0%, 0%, 0.14);
   --app-selection-color: rgba(0, 0, 0, 0.24);
   /* --gradient: linear-gradient(to right, rgb(219, 219, 219), rgb(255, 255, 255)); */
}
body {
   margin: 0;
   background-color: var(--app-bg-color);
}
::selection {
   background-color: var(--app-selection-color);
}
.app {
   padding: 8px;
   font-family: Arial, sans-serif;
   box-sizing: border-box;
}
.title {
   background-color: var(--app-surface-color);
   width: min-content;
   font-size: 22px;
   padding: 8px 18px;
   border-radius: 18px;
   color: var(--app-text-color);
   margin: 6px 0 12px 6px;
}
.knot {
   width: fit-content;
   box-sizing: border-box;
}
.knot--isroot {
   width: 100%;
}
.knot__wrapper:hover > .knot__priority {
   transform: translateX(0%);
}
.knot__priority {
   line-height: 0;
   text-align: center;
   padding: 10px 10px 10px calc(var(--knot-radius-left) + 10px);
   margin-left: calc(var(--knot-radius-left) * -1);
   border-radius: 0 10px 10px 0;
   font-size: 12px;
   font-weight: bold;
   background: #ffffff6b;
   color: black;
   transform: translateX(-100%);
   transition: transform 0.2s;
}
.knot--isroot > .knot__wrapper {
   display: none;
}
.knot__wrapper {
   display: flex;
   flex-flow: row nowrap;
   align-items: center;
   margin-top: 3px;
}

.knot__pill {
   display: flex;
   flex-flow: row nowrap;
   width: min-content;
   background: var(--knot-bg-color);
   border: 1px solid var(--app-border-color);
   border-radius: var(--knot-radius-left) var(--knot-radius-right) var(--knot-radius-right) var(--knot-radius-left);
   box-shadow: inset 0px 3px 1px -2px hsla(0, 0%, 100%, 0.22);
   z-index: 1;
}

.knot__dragger {
   width: 6px;
   border-radius: 6px;
   margin: 6px;
   background: var(--knot-dragger-color);
   cursor: all-scroll;
}
.knot__input {
   font-family: roboto-mono;
   font-size: var(--knot-text-size);
   padding: var(--knot-vertical-padding) 16px var(--knot-vertical-padding) 8px;
   width: var(--knot-width);
   background: transparent;
   border: none;
   height: var(--knot-height);
   line-height: 100%;
   color: rgba(255, 255, 255, 0.712);
   border-left: 1px solid var(--app-border-color);
   caret-color: var(--app-caret-color);
   color: var(--app-text-color);
}
.knot__button {
   font-size: 18px;
   border-radius: 50px;
   background: rgba(255, 255, 255, 0.329);
}
.knot__children {
   box-sizing: border-box;
   width: fit-content;
   padding-left: var(--tree-indentation);
   overflow: hidden;
}
.knot__children--folded {
   height: 0;
}
